<div class="landing">
    <header>
        <h2><a href="index.html"><i class="fas fa-code"></i>
            Nortify Guide Admin</a></h2>
        <nav>
          <ul>
            <li>
              <a href="index.html">View Gide Website</a>
            </li>
          </ul>
        </nav>
</header>
</div>